<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="../../.nuke/temp/packages" />
    <add key="repositoryPath" value="../../.nuke/temp/packages" />
  </config>
  <packageSources>
    <add key="local" value="../../dist/NuPkgs" />
  </packageSources>
</configuration>