#include <winver.h>
#include <ntdef.h>
#include "../include/generated/version_info.h"

// https://learn.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource

#ifdef RC_INVOKED

#ifndef DEBUG
    #define VER_FF_DEBUG                0
#else
    #define VER_FF_DEBUG                VS_FF_DEBUG
#endif

#ifdef IS_LOCAL_BUILD
    #define VER_FF_RELEASE              (VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE)
#else
    #ifdef IS_RELEASE_BUILD
        #define VER_FF_RELEASE              0
    #else
        #define VER_FF_RELEASE              VS_FF_PRERELEASE
    #endif
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       (VER_FF_RELEASE|VER_FF_DEBUG)
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANY_STR
            VALUE "FileDescription",  VER_FILE_DESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "LegalTrademarks1", VER_LEGALTRADEMARKS1_STR
            VALUE "LegalTrademarks2", VER_LEGALTRADEMARKS2_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

#endif
